body {
  background-color: darkred;
}

a {
  color: red;
}

a:visited {
  color: green;
}
a:hover {
  color: blue;
}

a:active {
  color: yellow;
}

a:focus {
  background-color: red;
}

.white {
  background-color: white;
}
.magenta {
  background-color: magenta;
}
.yellow {
  background-color: yellow;
}
